@model IEnumerable<LayoutRestaurante.Models.VW_ListaItem>
@{ 
    double tot = 0.00;
    int IdPedido = 0;
    if (Model.Count() > 0)
    {
        IdPedido = Convert.ToInt32(Model.FirstOrDefault().ID_PEDIDO);
    }
}

<div class="row">
    <div class="col-md-12" >
        <h4>Itens do Pedido</h4>
    </div>
    <div class="col-md-12 table-responsive" style="margin-top:2%">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PRODUTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VL_PRODUTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QTD_PEDIDO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VALORTOTAL)
                </th>
                <th>
                    Ações
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUTO)
                    </td>
                    <td>
                        R$
                        @Html.DisplayFor(modelItem => item.VL_PRODUTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QTD_PEDIDO)
                    </td>
                    <td>
                        @{ tot += Convert.ToDouble(item.VALORTOTAL);}
                        R$
                        @Html.DisplayFor(modelItem => item.VALORTOTAL)
                    </td>
                    <td>
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID_ITEMPEDIDO })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="form-group">
    @Html.Label("Total do Pedido: ", htmlAttributes: new { @class = "col-md-2" })  
    <div class="col-md-8"> 
        @Html.Label("VlTotal", "R$ " + tot.ToString("0.00"), new { @class = "col-md-2" })
    </div>
</div>

<div class="form-group" style="margin-top:5%; text-align:center">
    <div class="col-md-12">
        <button type="button" class="btn-lg btn-success" onclick="FinalizarPedido(@IdPedido);">Finalizar Pedido</button>
    </div>
</div>